{% load cms_tags sekizai_tags %}
{% load staticfiles %}
<html>
    <head>
      {% render_block "css" %}  
      <title>Sunshine-Dashboard UCAR demo</title>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    {% cms_toolbar  %}
    <body>
        <div style="width:75%;">
       <h1 style="text-align:center;">{{ test_title }}</h1>
        <canvas id="myChart"></canvas>
        {% addtoblock "js" %}
       <!--   <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}" /> -->
        <!--  <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script> -->
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
          <script type="text/javascript" src="/data/atmOccsJsonC2.json"></script>        
      {% endaddtoblock %}
        </div>
      {% addtoblock "js" %}
        <script type="text/javascript">
        var values_j = []; 
        var labels_j = [];
        $(function(){  
           $.getJSON("/data/atmOccsJsonC2.json", function(json) {
	         json.forEach(function(set) {
                   labels_j.push(set.date);
                   values_j.push(set.atm_count);
            });
        });
         console.log("labels ", labels_j);
         console.log("values ", values_j);
       });
        window.onload = function(){ 
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
           // The type of chart we want to create
            type: 'line',

           // The data for our dataset
             data: {
                  labels: labels_j, 
                   datasets: [{
                     label: 'COSMIC-2 Occultation Readings',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)', 
                         borderColor: 'rgba(54, 162, 235, 1)',
                        data: values_j,
                  }]
                },

                   // Configuration options go here
                options: {}
         });
        };
      </script>
      {% endaddtoblock %}
      {% render_block "js" %}
    </body>
</html>
